.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: orange;
    color: white;
    text-align: center;
}

.new {
    width: 10px;
    height: 10px;
}

.well.profile-description {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 15;
    height: 15;
    h3 {
        margin-top: 0;
    }
    
}

.well.profile-description {
    background-color: gray;
    border-color: green;
}

.well.contact-info {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    text-align: left;
    
}